<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ .Description | default .Site.Params.description }}">

        {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
        {{ $styles := resources.Get "scss/main.scss" }}
        {{ $css := $styles | toCSS $options | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" | fingerprint}}
        <script src="{{ $bootstrap.Permalink }}" integrity="{{ $bootstrap.Data.Integrity }}" defer></script>
    </head>
    <body>
        <header>
            <div class="d-flex">
                <div style="height: 100px;"> logo</div>
            </div>
            {{ template "partials/menu.html" . }}
        </header>

        <main>
            {{ block "main" . }} {{ end }}
        </main>

        <footer class="bg-dark text-white mt-4">
            <div class="container py-4">
                <p class="text-center mb-0">&copy; {{ now.Year }} {{ .Site.Title }}. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>
