{{ $data := .Site.Data.actors.actors | jsonify | transform.Unmarshal }}

{{ range $data }}

    {{ $params := dict
       "name" .name
       "age" .age
       "fee" .fee
       "schedule" .schedule
    }}
    {{ $content := dict
       "mediaType" "text/markdown"
       "value" .bio
    }}
    {{ $page := dict
       "content" $content
       "kind" "page"
       "path" .name
       "params" $params
       "title" .name
    }}
    {{ $.AddPage $page }}

{{ end }}
